# Python virtual environment
.venv/
venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo

# macOS files
.DS_Store

# IDE/editor folders
.vscode/
.idea/

# CMake/build folders
build/
build-server/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Regras de projeto/app_menu
/projeto/app_menu/**/runtime/

# Regras de projeto/stk-code
/projeto/stk-code/**/bld*/
/projeto/stk-code/**/build*/
/projeto/stk-code/**/cmake_build*/
/projeto/stk-code/**/xcode_build*/
/projeto/stk-code/**/dependencies*/
/projeto/stk-code/**/CMakeFiles/
/projeto/stk-code/**/stk-editor/
/projeto/stk-code/**/.vscode/
/projeto/stk-code/**/tags.*
/projeto/stk-code/**/.cache/
/projeto/stk-code/**/compile_commands.json
/projeto/stk-code/**/.config/
/projeto/stk-code/**/supertuxkart-64
/projeto/stk-code/**/make*.bat
/projeto/stk-code/**/__pycache__
/projeto/stk-code/data/editor
/projeto/stk-code/data/karts
/projeto/stk-code/data/library
/projeto/stk-code/data/models
/projeto/stk-code/data/music
/projeto/stk-code/data/sfx
/projeto/stk-code/data/textures
/projeto/stk-code/data/tracks
/projeto/stk-code/data/wip-tracks
/projeto/stk-code/data/.svn
/projeto/stk-code/src/html
/projeto/stk-code/**/*.o
/projeto/stk-code/**/*.d
/projeto/stk-code/**/*.a
/projeto/stk-code/**/*.patch
/projeto/stk-code/**/*.diff
/projeto/stk-code/**/*.obj
/projeto/stk-code/**/*.orig
/projeto/stk-code/**/*.rej
/projeto/stk-code/**/*.log
/projeto/stk-code/**/*.lib
/projeto/stk-code/**/*.tlog
/projeto/stk-code/**/*.pdb
/projeto/stk-code/**/*.dll
/projeto/stk-code/**/*.exe
/projeto/stk-code/**/*.vcxproj
/projeto/stk-code/**/*.vcxproj.filters
/projeto/stk-code/**/*.vcxproj.user
/projeto/stk-code/**/*~
/projeto/stk-code/**/*.swp
/projeto/stk-code/**/CMakeLists.txt.user
/projeto/stk-code/**/packets_log.txt
/projeto/stk-code/**/history.dat
/projeto/stk-code/**/README.dependencies
/projeto/stk-code/**/xx
/projeto/stk-code/android/android-ndk*
/projeto/stk-code/android/android-sdk*
/projeto/stk-code/android/assets
/projeto/stk-code/android/bin
/projeto/stk-code/android/build
/projeto/stk-code/android/deps-*
/projeto/stk-code/android/libs
/projeto/stk-code/android/obj
/projeto/stk-code/android/res
/projeto/stk-code/android/.gradle
/projeto/stk-code/android/.cxx
/projeto/stk-code/android/src/main/java/HID*
/projeto/stk-code/android/src/main/java/SDL*
/projeto/stk-code/**/android-*
/projeto/stk-code/**/*.apk
/projeto/stk-code/**/*.keystore
/projeto/stk-code/lib/curl
/projeto/stk-code/lib/freetype
/projeto/stk-code/lib/ifaddrs
/projeto/stk-code/lib/libogg
/projeto/stk-code/lib/libvorbis
/projeto/stk-code/lib/libpng
/projeto/stk-code/lib/libjpeg
/projeto/stk-code/lib/zlib
/projeto/stk-code/lib/openal
/projeto/stk-code/lib/openssl
/projeto/stk-code/lib/harfbuzz
/projeto/stk-code/lib/sdl2
/projeto/stk-code/lib/mbedtls
/projeto/stk-code/lib/astc-encoder
/projeto/stk-code/lib/shaderc
/projeto/stk-code/**/.DS_Store

# Regras de projeto/stk-code/lib/wiiuse
/projeto/stk-code/lib/wiiuse/**/build
/projeto/stk-code/lib/wiiuse/**/.cquery_cached_index

# Regras de projeto/stk-code/data/po
/projeto/stk-code/data/po/**/transifex
/projeto/stk-code/data/po/**/tx.exe
/projeto/stk-code/data/po/**/gui_strings.h
