# Python virtual environment
.venv/
venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo

# macOS files
.DS_Store

# IDE/editor folders
.vscode/
.idea/

# CMake/build folders
build/
build-server/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
